footer.site-footer
  .container
    .row
      .col-sm-12.col-md-9
        h6 About
        p My name is Muhammad Hasham Nadeem and i made this website for my 2nd web quiz in a course of "Web Design and Development" in Pak Aims IMS (Institute of Management and Technologies).
      .col-xs-6.col-md-3
        h6 Quick Links
        ul.footer-links
          li
            a(href='/') Home
          li
            a(href='/about') About Us
    hr
  .container
    .row
      .col-md-12.col-sm-12.col-xs-12
        p.copyright-text Copyright &copy; 2017 All Rights Reserved by 
            a(href='https://github.com/hasham56') Muhammad Hasham Nadeem.
