nav.navbar.navbar-expand-lg.navbar-dark.bg-secondary
  a.navbar-brand.px-4.py-2(href='/') Muhammad Hasham Nadeem
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarText' aria-controls='navbarText' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarText.collapse.navbar-collapse
    ul.navbar-nav.ml-auto.px-3
      li.nav-item
        a.nav-link(href='/') Home
      li.nav-item
        a.nav-link(href='/about') About

