extends layout

block content
    .center
        h2.p-4 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;My name is Muhammad Hasham Nadeem and i made this website for my 2nd web quiz in a course of "Web Design and Development" in Pak Aims IMS (Institute of Management and Technologies).