extends layout

block content
    header
        main
            section
                h3 Welcome To Pakistan
                h1 Do come and Visit
                    span.change_content  
                p &quot;Visiting Pakistan once is not enough&quot;
                a.m-2.btnone(href='/') Learn more
                a.m-2.btntwo(href='/') Signup here